<article class="comment" id="comment-{{ comment.id }}">
    <header>
        {% if comment.commenter %}
            {{ comment.commenter }}
        {% else %}
            anonymous
        {% endif %}
        {% if comment.parent %}
            <em>
                &nbsp;in response to
                <a href="#comment-{{comment.parent.id}}">{{ comment.parent.commenter }}</a>
            </em>
        {% endif %}
        <time datetime="{{comment.date|date:'c'}}">{{ comment.date }}</time>
    </header>
    {{ comment.content }}
</article>
