{% extends 'base/base.html' %}
{% load blog_extras %}
{% block title %}{{ object.title }}{% endblock %}
{% block description %}{{ object.excerpt }}{% endblock %}
{% block content %}
{% include 'blog/_title.html' with post=object %}
<p>{{ object.content|convert_markdown}}</p>
{% if object.comment_set.count > 0 %}
<hr/>
{% endif %}
<form method="POST"
        id="comments"
        hx-post="{% url 'blog:comment' %}"
        hx-target="#comment-list"
        hx-swap="afterbegin"
        hx-on::after-request="this.reset()"
>
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit" value="Add Comment">
</form>

<div id="comment-list">
{% for comment in object.comment_set.all %}
    {% include 'blog/_comment.html' with comment=comment %}
{% endfor %}
</div>
{% endblock %}
