{% extends 'base/base.html' %}
{% block content %}
<hgroup>
    <h2>Gallery</h2>
    {% if not request.user.is_authenticated %}
    <p><a href="{% url 'login' %}">Show me baby 👶</a></p>
    {% endif %}
</hgroup>

<div class="gallery">
{% include "photos/gallery_row.html" with object_list=object_list page_obj=page_obj %}
</div>
<a onclick="history.back()" class="lightbox" id="lightbox">
    <span id="lightbox-bg"></span>
</a>
{% endblock %}
{% block extra_javascript %}
<script type="text/javascript">
    function setLightbox(url){
        document.getElementById("lightbox-bg").style.backgroundImage = `url(${url})`;
    }
</script>
{% endblock %}
