.container {
   display: grid;
   grid-template-columns: 1fr 6fr;
   grid-template-rows: 1fr;
   grid-column-gap: 40px;
   grid-row-gap: 20px;
   justify-items: stretch;
   align-items: baseline;
}

aside {
   position: sticky;
   margin-top: var(--pico-spacing);
   top: -110px;
   background: var(--pico-background-color);
}

.logo > svg {
   max-height: 150px;
}

aside > nav > ul {
   text-align: center;
}

path #svg1 {
   fill: var(--pico-foreground-color);
}

.go-clockwise {
   animation: clockwise 3s infinite linear;
   transform-origin: 50% 50%;
}
.go-counter-clockwise {
   animation: counter-clockwise 3s infinite linear;
   transform-origin: 50% 50%;
}

@keyframes clockwise {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
@keyframes counter-clockwise {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(-360deg);
   }
}

@media (max-width: 576px) {
   .container {
      padding-block: 0;
      grid-template-columns: 1fr;
   }
   aside ul {
      display: flex;
   }
   aside {
      margin-top: 0;
      top: 0;
   }
   .logo > svg {
      height: 50px;
   }
}
