{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="author" content="Austin Riba">
      <meta name="description"
        content="{% block description %}A blog about technology and bikes by Austin Riba
        {% endblock %}">
      <meta property="og:image"
        content="{% block meta_image %}{% static 'base/img/logo.png' %}{% endblock %}">
      <title>
        {% block title %}Pedal Driven Programming{% endblock %}
      </title>
      {% block css %}
      <link rel="shortcut icon" type="image/png" href="{% static 'base/img/logo.png' %}">
      <link rel="shortcut icon" type="image/ico" href="{% static 'base/img/favicon.ico' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'pico/css/pico.lime.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'base/css/main.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'pygments/github.css' %}" media="(prefers-color-scheme: light)">
      <link rel="stylesheet" type="text/css" href="{% static 'pygments/native.css' %}" media="(prefers-color-scheme: dark)">
      {% endblock %}
      {% block extra_css %}{% endblock %}
  </head>
  <body>
    <main class="container">
      <div class="grid-container">
        <aside class="main-nav">
          <nav>
            <ul>
              <li class="logo"><a href="{% url 'index' %}">
                {% include 'base/gears.svg' %}
              </a></li>
              <li><a href="{% url 'blog:index' %}">Blog</a></li>
              <li><a href="{% url 'photos:index' %}">Photos</a></li>
              <li><a href="{% url 'projects' %}">Projects</a></li>
              <li><a href="{% url 'talks' %}">Talks</a></li>
            </ul>
          </nav>
        </aside>
        <div class="content">
        {% block content %}
        {% endblock %}
        </div>
      </div>
    </main>
    <footer class="main-footer">
      <nav class="h-card">
        <ul>
          <li>
            <img alt="me" class="u-photo" src="{% static 'base/img/headshot.jpg' %}" width="50" height="50">
          </li>
          <li>
            <a class="p-name u-url" href="https://www.pedaldrivenprogramming.com">Austin Riba</a>
          </li>
          <li>
            <a href="https://github.com/Fingel" rel="me">Github</a>
          </li>
          <li>
            <a class="u-email" href="mailto:austin@m51.io" rel="me">austin@m51.io</a>
          </li>
          <li id="favorite-quote">
            <em>It doesn't get easier, you just get faster.</em>
          </li>
        </ul>
      </nav>
    </footer>
    {% block javascript %}
    <script defer src="{% static 'htmx/htmx.min.js' %}"></script>
    <script async src="{% static 'base/js/gears.js' %}"></script>
    {% endblock %}
    {% block extra_javascript %}{% endblock %}
  </body>
</html>
