{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="author" content="Austin Riba">
      <meta name="description"
        content="{% block description %}A blog about technology and bikes by Austin Riba
        {% endblock %}">
      <meta property="og:image"
        content="{% block meta_image %}{% static 'base/img/logo.png' %}{% endblock %}">
      <title>
        {% block title %}Pedal Driven Programming{% endblock %}
      </title>
      {% block css %}
      <link rel="shortcut icon" href="{% static 'base/img/favicon.ico' %}"/>
      <link rel="stylesheet" type="text/css" href="{% static 'pico/css/pico.lime.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'base/css/main.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'pygments/github.css' %}" media="(prefers-color-scheme: no-preference), (prefers-color-scheme: light)">
      <link rel="stylesheet" type="text/css" href="{% static 'pygments/native.css' %}" media="(prefers-color-scheme: dark)">
      {% endblock %}
      {% block extra_css %}{% endblock %}
  </head>
  <body>
    <main class="container">
      <div class="grid-container">
        <aside>
          <nav>
            <ul>
              <li class="logo"><a href="{% url 'index' %}">
                {% include 'base/gears.svg' %}
              </a></li>
              <li><a href="{% url 'blog:index' %}">Blog</a></li>
              <li><a href="{% url 'photos:index' %}">Photos</a></li>
              <li><a href="{% url 'projects' %}">Projects</a></li>
              <li><a href="{% url 'talks' %}">Talks</a></li>
            </ul>
          </nav>
        </aside>
        <div class="content">
        {% block content %}
        {% endblock %}
        </div>
      </div>
    </main>
    {% block javascript %}
    <script defer src="{% static 'htmx/htmx.min.js' %}"></script>
    <script async src="{% static 'base/js/gears.js' %}"></script>
    {% endblock %}
    {% block extra_javascript %}{% endblock %}
  </body>
</html>
