{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<h1>Hi, I'm Austin Riba.</h1>
<p>
  I've been writing code for almost as long as I've been riding a bike. Over this time I've taken on the role of a generalist with experience in full stack development,
  devops and product management.
</p>
<p>
    I installed Linux on to my home computer in 6th grade and began web
    development shortly thereafter.
    I was excited by the possibility of being able to build something and
    share it with the world. I still get excited about that to this day.
</p>
<p>
    <a title="Pojects" href="{% url 'projects' %}">Projects</a>
    <a title="Experience" href="#experience">Experience</a>
    <a title="Github" href="https://github.com/Fingel">
      Github
    </a>
</p>
<img class="img-fluid" decoding="async" src="{% static 'base/img/biking.webp' %}" height="800">
<h2>Software Development</h2>
<p>
I'm happy to jump into existing projects and I excel at starting products from scratch. Taking an idea and turning it into a tangible
product is one of my favorite aspects of development. I can work with you through the process of requirement gathering, architecture, development, deployment and iteration.
</p>
<p>
  I may be available for software consultancy.
  <a href="mailto:austin@pedaldrivenprogramming.com">Contact me</a> if you are interested in working together.
</p>
<h2>Skills</h2>
<p>
  The technologies I work with the most, ordered from most to least familiarity:
</p>
<p>
  <strong>Languages:</strong> Python, Javascript, Java, shell, Go. <br>
  <strong>Backend:</strong> Django (DRF), Flask, FastAPI, Ruby on Rails. <br>
  <strong>Fontend:</strong> Vue.js, QT, jQuery, Angular. <br>
  <strong>Devops:</strong> Docker, AWS, Heroku. <br>
  <strong>Project Management:</strong> Trello, Pivotal, Atlassian.<br>
  <strong>Other: </strong> Linux, PostGIS, Ionic.
</p>
<p>
  I also have experience with software and tools specific to Astronomy including AstroPy, JS9, Astrometry.net, .fits files, etc.
</p>
<div class="page-break"></div>
<a name="experience"><h2>Experience</h2></a>
<table class="table">
  <tbody>
    <tr>
      <td>SRAM
      </td><td></td>
      <td>July 2022 - Present</td>
    </tr>
    <tr>
      <td colspan="3">
        <ul>
          <li>Making cool bike stuff! 🚲 🚲 🚲</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Freelance Developer
      </td><td></td>
      <td>January 2020 - July 2022</td>
    </tr>
    <tr>
      <td colspan="3">
        <ul>
          <li>A few stealth projects still under development 😉</li>
        </ul>
        <ul>
          <li>Developed the <a href="https://www.goforwardlateral.com">Forward Lateral</a> lateral inspection software. Took the project
            from mockups, to a MVP, to full production deployment in less than 5 months. Read more in the
            <a href="https://www.independent.com/2020/02/14/forward-lateral-is-the-perfect-public-private-partnership-for-sewer-inspections/">Santa Barbara Independent</a>.
          </li>
          <li>
            Helped develop the <a href="http://treasuremap.space/">TreasureMap</a>, a web app designed to help astronomers with electromagnetic followup of gravitational-wave (GW) events.
          </li>
          <li>Merged my side project <a href="https://www.trail.care" title="Trail Care">Trail Care</a> with
            <a href="https://www.luvtrails.com" title="luvtrails">LuvTrails</a> to enhance both platforms and bring more business opportunity
            to the project.
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Las Cumbres Observatory</td>
      <td>Senior Software Engineer</td>
      <td>August 2015-January 2020</td>
    </tr>
    <tr>
      <td colspan="3">
        <ul>
          <li>
            Principal developer of the <a href="https://github.com/TomToolkit">TOM Toolkit project</a>, an open source
            framework built on Django for managing Astronomical observing programs.
          </li>
          <li>
            Built the <a href="https://archive.lco.global">LCO Archive</a>, a data warehouse and pipeline for 60+ TB
            of data on Amazon with a fully programmatic API.
          </li>
          <li>
            Designed and developed the <a href="https://observe.lco.global">Valhalla Observation Portal</a>: the main user
            facing interface for Astronomers into the observatory as well as the network's request database.
          </li>
          <li>
            Mentored and advised junior developers in an array of development projects.
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>New Context Services</td>
      <td>Senior Software Engineer</td>
      <td>April 2015-August 2015</td>
    </tr>
    <tr>
      <td colspan="3">
        <ul>
          <li>
            Worked with a fully remote team on a legacy web project. Added extra functionality in the form of highly interactive
            and responsive pages using a modern JS framework with no negative impact to the legacy code.
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Silent Circle LCC</td>
      <td>Senior Software Engineer</td>
      <td>November 2013-April 2015</td>
    </tr>
    <tr>
      <td colspan="3">
        <ul>
          <li>
            Using a Django/ Python stack built out the business back end for the company’s application suite.
            Application was designed to handle user subscription, payment and authentication.
          </li>
          <li>
            Designed and built a business management dashboard for the largest clients designed to handle
            operations on hundreds of thousands of users.
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Locus Energy</td>
      <td>Software Engineer</td>
      <td>April 2011-October 2011</td>
    </tr>
    <tr>
      <td colspan="3">
        <ul>
          <li>
            Completed a contract to move the company's infrastructure from traditional hosting to AWS.
            Required migrating tens of Linux and Windows servers, a VPN and a clustered database on to
            Amazon's largest instance types (at the time).
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>CSRware Inc</td>
      <td>Software Engineer</td>
      <td>April 2010-November 2013</td>
    </tr>
    <tr>
      <td colspan="3">
        <ul>
          <li>
            Using Spring and Java developed a SASS application for businesses that tracked their ecological impact
            by analyzing consumed utility bills and other raw data and computed emissions, waste, heat, etc.
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
<h2>Education</h2>
<p><strong>2008-2011</strong> Southern Oregon University, B.S. Computer Science</p>
<h2>Pedal Driven?</h2>
<p>If you meet me in person, chances are I'll be wearing a pair of bike shoes with my laptop on my back. Not only is cycling one of my biggest hobbies, I believe in the bike's enormous potential to transform our lives through positive impacts on the environment, economics, social interaction, city planning and personal health. I <a href="/categories/cycling">write about it</a> from time to time.
    </p>
{% endblock %}
