{% extends 'base/base.html' %}
{% block content %}
<h3>🎬 TOM Toolkit Technical Overview</h3>
<p>The TOM Toolkit is a framework built on Django for creating astronomical
    management platforms.
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/LEl7jkPmEyY?si=zPrzxma_S3rjanaM&amp;start=420" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<h3>🎬 Building an Instagram Clone using Django</h3>
<p>A demonstration detailing how to create a file sharing app very quickly
    using Django.
</p>
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/7xahfqVN5ig" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h3>🎧 Rising From the Ashes - Athletes Unfiltered Strava Podcast</h3>
<p>I told the story of the Santa Barbara wildfires and how
    they inspired me to create <a href="https://trail.care">Trail Care</a>.
<p>
    <a href="https://podcasts.apple.com/us/podcast/rising-from-the-ashes/id1447430288?i=1000428271279">Listen on Apple Podcasts</a>
</p>
<h3>🎧 The MORE Trail Report - Trail.Care</h3>
<p>I spoke with the Mid-Atlantic Off-Road Enthusiasts trail report about my project
    <a href="https://trail.care">Trail Care</a> and how it can help trail organizations
    and advocacy groups.
</p>
<p><a href="https://more-mtb.org/blogs/news/the-more-trail-report-episode-5-trail-care">
    Listen here.
</a>
</p>
<h3>📜 Las Cumbres Observatory's end-to-end Operations Workflow</h3>
<p>Read it on <a href="https://www.spiedigitallibrary.org/conference-proceedings-of-spie/11449/1144907/Las-Cumbres-Observatorys-end-to-end-operations-workflow/10.1117/12.2561964.short">
    SPIE
</a>
</p>
{% endblock %}
